<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot</title>
    
    <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
    
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <style type="text/css">
		table.striped>tbody>tr:nth-child(odd) {
    		background-color: rgba(158, 154, 154, 0.5);
		}
		form input[type=submit]{
			color:white;
		}
	</style>
    
    <!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<h3>Spring Boot + Thymeleaf + Material Design Lite</h3>
	<br/>
	<h5>Cadastro de Pessoas</h5>
	<br/>
	
	<div class="row">
		
		<br>
		<div th:each="m: ${msg}">
			<span th:text="${m}"/>
		</div>
		<br>
		
		<form id="formPessoa" action="salvarpessoa" method="post" th:object="${pessoaObj}" class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<label for="id" class="active">ID:</label>
					<input name="id" th:field="*{id}" readonly="readonly" id="id">
				</div> 
				<div class="input-field col s6">
					<label for="nome" class="active">Nome:</label>
					<input placeholder="Informe o nome da pessoa" name="nome" th:field="*{nome}" id="nome" class="validate">
				</div>
			</div>
			
			<div class="row"> <!-- sec:authorize="hasAnyRole('ROLE_ADMIN')" -->
				<div class="input-field col s6">
					<label for="sobrenome" class="active">Sobrenome:</label>
					<input name="sobrenome" th:field="*{sobrenome}" id="sobrenome" class="validate">
				</div>
				<div class="input-field col s6">
					<label for="idade" class="active">Idade:</label>
					<input name="idade" th:field="*{idade}" id="idade" class="validate">
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s6">
					<label for="sexoPessoa" class="active">Sexo:</label>
					<select class="browser-default" th:field="*{sexoPessoa}">
						<option value="" disabled selected>--[Selecione]--</option>
						<option value="MASCULINO" th:text="Masculino"/>
						<option value="FEMININO" th:text="Feminino"/>
					</select>
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s6">
					<label for="cep" class="active">Cep:</label>
					<input placeholder="Informe um CEP válido" name="cep" th:field="*{cep}" id="cep" class="validate">
				</div>
				<div class="input-field col s6">
					<label for="rua" class="active">Rua:</label>
					<input name="rua" th:field="*{rua}" id="rua" class="validate">
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s6">
					<label for="bairro" class="active">Bairro:</label>
					<input name="bairro" th:field="*{bairro}" id="bairro" class="validate">dsa
				</div>
				<div class="input-field col s6">
					<label for="cidade" class="active">Cidade:</label>
					<input name="cidade" th:field="*{cidade}" id="cidade" class="validate">
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s6">
					<label for="uf" class="active">Estado:</label>
					<input name="uf" th:field="*{uf}" id="uf" class="validate">
				</div>
				<div class="input-field col s6">
					<label for="ibge" class="active">IBGE:</label>
					<input name="ibge" th:field="*{ibge}" id="ibge" class="validate">
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s6">
					<input class="waves-effect waves-light btn" type="submit" value="Salvar">
					<button class="waves-effect waves-light btn" onclick="document.getElementById('formPessoa').reset();">Novo</button>
				</div>
			</div>		
		</form>
	</div>
	
	<br/>
	<div class="row">
		<form action="pesquisarpessoa" method="post" class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<label for="nomePesquisa" class="active">Pesquisa por Nome:</label>
					<input name="nomePesquisa" id="nomePesquisa" class="validate">
				</div>
				<div class="input-field col s6">
					<input class="waves-effect waves-light btn" type="submit" value="Buscar">
					<a class="waves-effect waves-light btn" href="/listapessoas">Lista de Todas as Pessoas</a>
				</div>
			</div>
		</form>
	</div>
	<br/>
	
	<table class="striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Sobrenome</th>
				<th>Idade</th>
				<th>Editar</th>
				<th>Excluir</th>
			</tr>
		</thead>
		<tr th:each="pessoa: ${pessoas}">
			<td th:text="${pessoa.id}"/>
			<td><a th:href="@{/telefones/{idpessoa}(idpessoa=${pessoa.id})}"><span th:text="${pessoa.nome}"/></a></td>
			<td th:text="${pessoa.sobrenome}"/>
			<td th:text="${pessoa.idade}"/>
			<td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a></td>
			<td><a th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a></td>
		</tr>
	</table>
	
	<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <!-- Adicionando Javascript -->
    <script>

        $(document).ready(function() {

            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#rua").val("");
                $("#bairro").val("");
                $("#cidade").val("");
                $("#uf").val("");
                $("#ibge").val("");
            }
            
            //Quando o campo cep perde o foco.
            $("#cep").blur(function() {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#rua").val("...");
                        $("#bairro").val("...");
                        $("#cidade").val("...");
                        $("#uf").val("...");
                        $("#ibge").val("...");

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#rua").val(dados.logradouro);
                                $("#bairro").val(dados.bairro);
                                $("#cidade").val(dados.localidade);
                                $("#uf").val(dados.uf);
                                $("#ibge").val(dados.ibge);
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });

    </script>
</body>
</html>