<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot</title>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <style type="text/css">
		form input[type=submit]{
			color:white;
		}
		
		form{
			margin-left: 35%;
			margin-top: 11%;
		}
		
		.col .row {
			margin-right: 0rem;
		}
	</style>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

	<form th:action="@{/login}" method="post" class="col s12">
		<h5>Acesso ao Sistema</h5>
		
		<div class="row">
			<div class="input-field col s6">
				<label>Login</label>
				<input type="text" name="username" style="border-radius: 7px; border-bottom: none;">
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<label>Senha</label>
				<input type="password" name="password" style="border-radius: 7px; border-bottom: none;">
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input type="submit" value="Acessar" class="waves-effect waves-light btn">
			</div>
		</div>
	</form>
	
	<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>